* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab,
    CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
    sans-serif;
}

header {
  background-color: white;
  padding: 30px 0px 30px 51px;
  border-bottom-color: #d9d9d9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

header .logo {
  display: flex;
  justify-content: center;
}

header .logo img {
  width: 120px;
}

section {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section div.main {
  margin: 32px 0;
  padding: 32px;
  width: 734px;
  height: 910px;
  border-radius: 5px;
}

section div.main h1 {
  text-align: center;
  margin: 48px 0;
  color: white;
  font-size: 48px;
}

section div.main .account-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section div.main .account-connect button {
  width: 424px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 5px 0;
  border-radius: 500px;
  border: 1px solid #878787;
  font-size: 15px;
  font-weight: bold;
}

section div.main .account-connect button img {
  width: 23px;
  margin: 0 10px;
  margin-right: 20px;
}

section div.main .account-connect button span {
  position: relative;
  top: 3px;
}

section div.main .log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

section div.main .log-in form label {
  color: black;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

section div.main .log-in form input {
  display: block;
  padding: 14px;
  width: 424px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #878787;
}

.switch {
  margin: 0;
  padding: 0;
}

.switch label {
  margin: 10px 0px 20px 0px;
  cursor: pointer;
  padding: 3px;
  width: 32px;
  height: 16px;
  background: #727272;
  display: block;
  border-radius: 50em;
  position: relative;
  transition: 0.1s;
  box-sizing: border-box;
}

.switch label::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 10px;
  background: black;
  border-radius: 50em;
  transition: 0.1s;
}

input[type="checkbox"] + label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc; /* Default background color */
}

input[type="checkbox"]:checked{
  accent-color: #1ed760;
  color: white;
}

.switch span {
  font-size: 13px;
  position: relative;
  left: 7px;
  bottom: 11px;
}

section div.main .log-in button {
  background-color: #1ed760;
  border-radius: 30px;
  font-weight: bold;
  padding: 8px 32px;
  height: 48px;
  width: 324px;
  letter-spacing: 0.4px;
  font-size: 16px;
  margin: 20px 0px;
}

section div.main .log-in a {
  display: block;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
}

section div.main .last {
  margin: 10px 0;
  text-align: center;
}

section div.main .last span {
  color: #a7a7a7;
  margin-right: 3px;
}

section div.main .last a {
  text-decoration: underline;
}

.seekbar {
  width: 500px;
  height: 22px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  width: 100%;
  height: 5px;
  background-color: #808080;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 5px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.seekbar-sound {
  width: 100px;
  height: 22px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-sound {
  width: 100%;
  height: 5px;
  background-color: #808080;
  border-radius: 5px;
  overflow: hidden;
}

.progress-sound {
  height: 5px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}